<div class="main">
  <div class="project">
    <div class="project__name">
      <p>仕事</p>
    </div>
    <ul class="project-box">
      <li class="project-box__btn">
        <a href="#" class="post-btn">＋　タスクを追加する</a>
      </li>
      <li class="project-box__item">
        <ul>
          <li class="project-box__item-title">会議資料の準備</li>
          <li class="project-box__item-detail">1/3会議用 〇〇さんと共有</li>
          <li class="project-box__item-date">期限:12/31</li>
        </ul>
        <div>
          <a href="#" class="item-btn">編集する</a>
          <a href="#" class="item-btn">完了する</a>
        </div>
      </li>
      <li class="project-box__item">
        <ul>
          <li class="project-box__item-title">〇〇さんにヒアリングを行う</li>
          <li class="project-box__item-detail">業務の再確認、1月以降のシフト調整を行う</li>
          <li class="project-box__item-date">期限:1/4</li>
        </ul>
        <div>
          <a href="#" class="item-btn">編集する</a>
          <a href="#" class="item-btn">完了する</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="project">
    <div class="project__name">
      <p>プライベート</p>
    </div>
    <ul class="project-box">
      <li class="project-box__btn">
        <a href="#" class="post-btn">＋　タスクを追加する</a>
      </li>
      <li class="project-box__item">
        <ul>
          <li class="project-box__item-title">ランニング2km</li>
          <li class="project-box__item-detail"></li>
          <li class="project-box__item-date">期限:12/28</li>
        </ul>
        <div>
          <a href="#" class="item-btn">編集する</a>
          <a href="#" class="item-btn">完了する</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="project">
    <div class="project__name">
      <p>ご褒美</p>
    </div>
    <ul class="project-box">
      <li class="project-box__btn">
        <a href="#" class="post-btn">＋　ご褒美を追加する</a>
      </li>
      <li class="project-box__item">
        <ul>
          <li class="project-box__item-title">プリン1個食べる</li>
          <li class="project-box__item-detail">ファミマのやつ</li>
          <li class="project-box__item-date">3pt</li>
        </ul>
        <div>
          <a href="#" class="item-btn">編集する</a>
          <a href="#" class="item-btn">完了する</a>
        </div>
      </li>
      <li class="project-box__item">
        <ul>
          <li class="project-box__item-title">カバンを買う</li>
          <li class="project-box__item-detail"></li>
          <li class="project-box__item-date">40pt</li>
        </ul>
        <div>
          <a href="#" class="item-btn">編集する</a>
          <a href="#" class="item-btn">完了する</a>
        </div>
      </li>
    </ul>
  </div>
</div>