<div class="main">
  <div class="project">
    <div class="project__name">
      <p>仕事</p>
    </div>
    <ul class="project-box">
      <li class="project-box__item"></li>
      <li class="project-box__item"></li>
      <li class="project-box__item"></li>
    </ul>
  </div>
  <div class="project">
    <div class="project__name">
      <p>プライベート</p>
    </div>
    <ul class="project-box">
      <li class="project-box__item"></li>
    </ul>
  </div>
  <div class="project">
    <div class="project__name">
      <p>仕事</p>
    </div>
    <ul class="project-box">
      <li class="project-box__item"></li>
      <li class="project-box__item"></li>
    </ul>
  </div>
</div>