<div class="main">
  <div class="wrapper">
    <div class="post-title">
      仕事タスクを追加する
    </div>
    <div class="task">
      <label class="task-name">タスク名</label>
      <input class="task-form" placeholder="(必須)">
    </div>
    <div class="task">
      <label class="task-name">タスク説明</label>
      <input class="task-form" placeholder="(必須)">
    </div>
    <div class="task">
      <label class="task-name">期日</label>
      <input class="task-form" placeholder="(必須)">
    </div>
    <div class="button-area">
      <input class="task-button" type="submit" value="送信する">
    </div>
  </div>
</div>